# Function: <code>ethnl_cable_test_result</code>

## Status
<b>Regular</b>
<ul>
<li>
In <code>4.4</code>: Absent ⚠️
</li>
<li>
In <code>4.8</code>: Absent ⚠️
</li>
<li>
In <code>4.10</code>: Absent ⚠️
</li>
<li>
In <code>4.13</code>: Absent ⚠️
</li>
<li>
In <code>4.15</code>: Absent ⚠️
</li>
<li>
In <code>4.18</code>: Absent ⚠️
</li>
<li>
In <code>5.0</code>: Absent ⚠️
</li>
<li>
In <code>5.3</code>: Absent ⚠️
</li>
<li>
In <code>5.4</code>: Absent ⚠️
</li>
<li>
<details>
<summary>In <code>5.8</code>: ✅</summary>

```c
int ethnl_cable_test_result(struct phy_device *phydev, u8 pair, u8 result);
```

**Collision:** Unique Global

**Inline:** No

**Transformation:** False

**Instances:**

```
In net/ethtool/cabletest.c (ffffffff81a8d4e0)
Location: net/ethtool/cabletest.c:163
Inline: False
```
**Symbols:**

```
ffffffff81a8d4e0-ffffffff81a8d5f9: ethnl_cable_test_result (STB_GLOBAL)
```
</details>
</li>
<li>
<details>
<summary>In <code>5.11</code>: ✅</summary>

```c
int ethnl_cable_test_result(struct phy_device *phydev, u8 pair, u8 result);
```

**Collision:** Unique Global

**Inline:** No

**Transformation:** False

**Instances:**

```
In net/ethtool/cabletest.c (ffffffff81a96c20)
Location: net/ethtool/cabletest.c:163
Inline: False
```
**Symbols:**

```
ffffffff81a96c20-ffffffff81a96d39: ethnl_cable_test_result (STB_GLOBAL)
```
</details>
</li>
<li>
<details>
<summary>In <code>5.13</code>: ✅</summary>

```c
int ethnl_cable_test_result(struct phy_device *phydev, u8 pair, u8 result);
```

**Collision:** Unique Global

**Inline:** No

**Transformation:** False

**Instances:**

```
In net/ethtool/cabletest.c (ffffffff81a806c0)
Location: net/ethtool/cabletest.c:163
Inline: False
```
**Symbols:**

```
ffffffff81a806c0-ffffffff81a807cc: ethnl_cable_test_result (STB_GLOBAL)
```
</details>
</li>
<li>
<details>
<summary>In <code>5.15</code>: ✅</summary>

```c
int ethnl_cable_test_result(struct phy_device *phydev, u8 pair, u8 result);
```

**Collision:** Unique Global

**Inline:** No

**Transformation:** False

**Instances:**

```
In net/ethtool/cabletest.c (ffffffff81b3a490)
Location: net/ethtool/cabletest.c:163
Inline: False
```
**Symbols:**

```
ffffffff81b3a490-ffffffff81b3a59c: ethnl_cable_test_result (STB_GLOBAL)
```
</details>
</li>
<li>
<details>
<summary>In <code>5.19</code>: ✅</summary>

```c
int ethnl_cable_test_result(struct phy_device *phydev, u8 pair, u8 result);
```

**Collision:** Unique Global

**Inline:** No

**Transformation:** False

**Instances:**

```
In net/ethtool/cabletest.c (ffffffff81cc63b0)
Location: net/ethtool/cabletest.c:163
Inline: False
```
**Symbols:**

```
ffffffff81cc63b0-ffffffff81cc64c5: ethnl_cable_test_result (STB_GLOBAL)
```
</details>
</li>
<li>
<details>
<summary>In <code>6.2</code>: ✅</summary>

```c
int ethnl_cable_test_result(struct phy_device *phydev, u8 pair, u8 result);
```

**Collision:** Unique Global

**Inline:** No

**Transformation:** False

**Instances:**

```
In net/ethtool/cabletest.c (ffffffff81e859d0)
Location: net/ethtool/cabletest.c:163
Inline: False
```
**Symbols:**

```
ffffffff81e859d0-ffffffff81e85ae5: ethnl_cable_test_result (STB_GLOBAL)
```
</details>
</li>
<li>
<details>
<summary>In <code>6.5</code>: ✅</summary>

```c
int ethnl_cable_test_result(struct phy_device *phydev, u8 pair, u8 result);
```

**Collision:** Unique Global

**Inline:** No

**Transformation:** False

**Instances:**

```
In net/ethtool/cabletest.c (ffffffff81ee2300)
Location: net/ethtool/cabletest.c:163
Inline: False
```
**Symbols:**

```
ffffffff81ee2300-ffffffff81ee2415: ethnl_cable_test_result (STB_GLOBAL)
```
</details>
</li>
<li>
<details>
<summary>In <code>6.8</code>: ✅</summary>

```c
int ethnl_cable_test_result(struct phy_device *phydev, u8 pair, u8 result);
```

**Collision:** Unique Global

**Inline:** No

**Transformation:** False

**Instances:**

```
In net/ethtool/cabletest.c (ffffffff81fa6190)
Location: net/ethtool/cabletest.c:163
Inline: False
```
**Symbols:**

```
ffffffff81fa6190-ffffffff81fa62a5: ethnl_cable_test_result (STB_GLOBAL)
```
</details>
</li>
</ul>
<b>Arch</b>
<ul>
<li>
In <code>arm64</code>: Absent ⚠️
</li>
<li>
In <code>armhf</code>: Absent ⚠️
</li>
<li>
In <code>ppc64el</code>: Absent ⚠️
</li>
<li>
In <code>riscv64</code>: Absent ⚠️
</li>
</ul>
<b>Flavor</b>
<ul>
<li>
In <code>aws</code>: Absent ⚠️
</li>
<li>
In <code>azure</code>: Absent ⚠️
</li>
<li>
In <code>gcp</code>: Absent ⚠️
</li>
<li>
In <code>lowlatency</code>: Absent ⚠️
</li>
</ul>

## Differences
<b>Regular</b>
<ul>
<li>
No changes between <code>5.8</code> and <code>5.11</code> ✅
</li>
<li>
No changes between <code>5.11</code> and <code>5.13</code> ✅
</li>
<li>
No changes between <code>5.13</code> and <code>5.15</code> ✅
</li>
<li>
No changes between <code>5.15</code> and <code>5.19</code> ✅
</li>
<li>
No changes between <code>5.19</code> and <code>6.2</code> ✅
</li>
<li>
No changes between <code>6.2</code> and <code>6.5</code> ✅
</li>
<li>
No changes between <code>6.5</code> and <code>6.8</code> ✅
</li>
</ul>
